.expense_list_div {
  display: flex;
  align-items: center;

  width: 90%;
  margin: 10px;
  padding: 5px 10px;

  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 12px;

  background-color: rgb(0,0,0,0.06);
}
.expense_list_div h3{
    flex: 1;
    text-align: left;
    margin: 0px;
    text-transform: capitalize;
}
.expense_list_div p{
    flex: 1;
    text-align: center;
}
.expense_list_div button{
    flex: 1;
    justify-content: flex-end;
    background-color: rgb(8, 206, 8);
    color: white;
    border: solid 2px rgb(8, 206, 8);
    border-radius: 4px;
}
.expense_list_div button:hover{
    background-color: rgb(8, 150, 8);
}